.container-form-responder {
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: flex-start;

  margin: 86px;
}

.title-roles {
  cursor: pointer;
  font-weight: bold;

  padding: 8px;
}
.title-roles:hover {
  background-color: rgba(250, 235, 215, 0.507);
  border-radius: 12px;
}
.role {
  display: flex;
}
.card-body {
}

.card-body p {
  margin: 2px 0;
  color: maroon;
}

.card-body ul {
  list-style-type: disc; /* Bullet points for lists */
  margin-left: 20px; /* Indentation for lists */
}

.card-body li {
  font-size: 0.8em;
  margin-bottom: 10px; /* Space between list items */
}

.generate {
  background-color: transparent;
  color: maroon;
  border: none;
  padding: 8px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 12px;
  width: 50%;
  border: 0.5px solid maroon;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  
  &:hover {
    background-color: maroon;
    color: white;
    
  }
}
.btn-primary {
  background-color: transparent;
  width: 100%;
  &:hover {
    background-color: transparent;
  }
}
.cancel {
  background-color: #fe9d00;
  color: white;
  transition: background-color 0.3s ease-in-out, scale 0.3s ease-in-out;
  scale: 0.95;
  &:hover {
    background-color: #fe9d00;
    scale: 1;
  }
}
.delete {
  background-color: maroon;
  transition: background-color 0.3s ease-in-out, scale 0.3s ease-in-out;
  scale: 0.95;
  &:hover {
    background-color: maroon;
    scale: 1;
  }
}
.update {
  background-color: green;
  transition: background-color 0.3s ease-in-out, scale 0.3s ease-in-out;
  scale: 0.95;
  &:hover {
    background-color: green;
    scale: 1;
  }
}
.btn-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.profile-container-edit {
  display: flex;
  width: 100%;
  gap: 12px;
  justify-content: center;
}
.form-grid-container-responder {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  padding: 24px;
  gap: 0px 22px;
}
