@import "../../styles/variables.scss";

.navbar {
  position: fixed;
  display: flex;
  z-index: 3;
  width: 100%;
  padding: 0px 32px;
  align-items: center;
  justify-content: space-between;
  background-color: $dark-bg;
  color: $soft-color;

  .logo {
    text-decoration: none;
    color: white;
  }

  .icons {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 0;
    .icon {
      display: flex;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  .account {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    transition: background-color 0.3s ease, border-radius 0.3s ease,
      transform 0.3s ease;
  }
  .account-dropdown {
    position: relative;
    display: flex;
    align-items: center;
  }

  .account-dropdown-btn {
    cursor: pointer;
  }
.account-dropdown-links{
  text-decoration: none;
  
}
  .account-dropdown-content {
    gap: 8px;
    text-decoration: none;
    padding: 8px;
    flex-direction: column;
    position: absolute;
    top: 25px;
    right: 20px;
    border-radius: 12px;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 6px 0px rgba(184, 184, 184, 0.057);
    z-index: 1;
    border: 2px solid rgba(248, 5, 5, 0.037);
  }
  .text-dropdown {
    border-radius: 8px;
    display: flex;
    padding: 8px;
    &:hover {
      border-radius: 8px;
      background-color: $fire-hover;
      color: $soft-color;
    }
  }
  span {

    color: $main-color;
    text-decoration: none;
  }

  .account-dropdown-btn {
    color: $soft-color;
  }


}
// .notification:hover {
//   background-color: rgba(255, 255, 0, 0.224);
//   border-radius: 12px;
//   transform: scale(1.05);
// }

// .account:hover {
//   background-color: rgba(255, 255, 0, 0.224);
//   border-radius: 12px;
//   transform: scale(1.05);
// }
.notification {
  position: relative;
  cursor: pointer;
  padding:  8px ;
  transition: background-color 0.3s ease, border-radius 0.3s ease, transform 0.3s ease;
  .notifCount {
    background-color: rgb(255, 217, 0);
    color: rgb(255, 0, 0);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
  }
}

.notification-dropdown {
  position: absolute;
  top: 45px;
  right: 90px;
  width: 500px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.notification-dropdown-header {
  display: flex;
  justify-content: space-between;
  padding: 18px;
 letter-spacing: 1px;
  border-radius: 12px 12px 0px 0px;
  font-weight: 500;
  border-bottom: 1px solid #f1f1f1;
  span{
    font-size: 18px;
  }
}

.notification-item {
  display: flex;
  flex-direction: column;
  margin: 8px;
  padding: 12px;
  background-color: white;
  border-bottom: 1px solid #f1f1f1;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.notification-item:hover{
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.notification-info{
  display: flex;
  justify-content: space-between;
}

.notification-item span {
  font-size: 12px;
}
.notification-details{
  display: flex;
  flex-direction: column;
 
}
.notification-date{
  display: flex;
  align-items: center;
  span{
    color: gray;
  }
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  opacity: 0;
  animation: fadeIn 0.5s forwards; 
  
  button {
    padding: 8px 16px;
    background-color: maroon;
    color: #fff;
    border: 1px solid rgb(127, 61, 61);
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s; // Smooth transitions

    &:hover {
      background-color: rgb(226, 87, 87);
      transform: translateY(-4px); 
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    }

    &:disabled {
      background-color: #e0e0e0;
      border-color: #e0e0e0;
      cursor: not-allowed;
      transform: none;
      box-shadow: none;
    }
  }

  span {
    font-size: 14px;
    color: #333;
    font-weight: 600;
    transition: opacity 0.3s; 

    &:hover {
      opacity: 0.7; 
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px); // Start from below the container
    }
    100% {
      opacity: 1;
      transform: translateY(0); // End at normal position
    }
  }
}
