.form-container-user {
  display: flex;
  width: 100%;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}
input {
  padding: 8px;
}
.radio-group {
  display: flex;
  gap: 16px;
}
.user-form {
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 32px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.header-container {
  display: flex;
  padding: 8px;
  justify-content: center;
  background-color: maroon;
  border-radius: 8px 8px 0px 0px;
  h2 {
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;

    color: #fff;
  }
}
h3 {
  color: maroon;
}
label {
  width: 100%;
  font-size: 16px;
  color: #800000;
}

.grid-container {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  padding: 24px;
}
.input {
  width: 100%;
  margin: 0px;
}
select {
  cursor: pointer;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out;
  &:focus {
    border-color: #4caf50;
  }
}
.cancel-button-register {
  color: white;
  background-color: #fe9d00;
  border: none; // No border
  padding: 10px 20px; // Padding inside the button
  font-size: 16px; // Font size
  cursor: pointer; // Cursor pointer on hover
  transition: background-color 0.3s ease-in-out, scale 0.3s ease-in-out;
  border-radius: 5px;
  scale: 0.95;
  &:hover {
    background-color: #fe9d00;
   scale: 1; // Zoom in effect
  }
}

.user-info,
.parent-info {
  padding: 10px; // Optional: Add some padding or styling
}

.form-group {
  margin: 8px 0px; // Space between form groups
}
.btn-container-user {
  display: flex;
  gap: 12px;
  padding: 12px 0px;
  justify-content: end;

  grid-column: span 3;
}
.submit-button-register {
  color: white;
  background-color: green;
  border: none; // No border
  padding: 10px 20px; // Padding inside the button
  font-size: 16px; // Font size
  cursor: pointer; // Cursor pointer on hover
  transition: background-color 0.3s ease-in-out, scale 0.3s ease-in-out;
  border-radius: 5px;
  scale: 0.95;
  &:hover {
    background-color: green;
   scale: 1; // Zoom in effect
  }
}
.delete-button-register{
  color: white;
  background-color: maroon;
  border: none; // No border
  padding: 10px 20px; // Padding inside the button
  font-size: 16px; // Font size
  cursor: pointer; // Cursor pointer on hover
  transition: background-color 0.3s ease-in-out, scale 0.3s ease-in-out;
  border-radius: 5px;
  scale: 0.95;
  &:hover {
    background-color: maroon;
   scale: 1; // Zoom in effect
  }
}

.btn-top-container{
  width: 100%;
  display: flex;
  padding: 14px;
  gap: 12px;
  justify-content: flex-end;

  .btn-en{
    cursor: pointer;
    padding: 8px;
    background-color: green;
    border: none;
    color: white;
    border-radius: 8px;
    border: 1px white solid;
    transition: background-color 0.3s ease-in-out;
    &:hover{
      background-color: transparent;
      border: 1px green solid;
      color: green
    }
  }
  .btn-dis{
    cursor: pointer;
    padding: 8px;
    background-color: transparent;
    border: none;
    color: maroon;
    border: 1px maroon solid;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;

    &:hover{

      background-color: maroon;
      border: 1px white solid;
      color: white
    }
  }
}
input:read-only{
  outline: none; /* Removes the default outline */
  border: none; /* Removes the border */
  box-shadow: none; /* Removes any shadow effects */
  background-color: transparent; /* Optional: Makes the background transparent */
  cursor: default; /* Optional: Changes the cursor to indicate non-editable state */
}
select:disabled {
  color: maroon;
  outline: none; /* Removes the default outline */
  border: none; /* Removes the border */
  
  cursor: not-allowed; /* Optional: Change cursor to indicate non-editable state */
}

.btn-clear{
  cursor: pointer;
  padding: 8px;
  background-color: green;
  border: none;
  color: white;
  border-radius: 8px;
  border: 1px white solid;
  transition: background-color 0.3s ease-in-out;
  &:hover{
    background-color: transparent;
    border: 1px green solid;
    color: green
  }
}