@import "../../../styles/variables.scss";

.announcement-container {
  display: flex;
  flex-direction: column;
  color: $main-color;
  gap: 12px;
}
.btn-search {

  display: flex;
  
  justify-content: flex-end;
  input[type="search"] {
    width: 50%;
    height: 40px;
    padding: 12px 22px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid #eee;
    background-color: #fff;
    &:focus {
      outline: none;
      box-shadow: 0 0 10px rgba(129, 129, 129, 0.09);
    }
  }
}
.btnAnnounce {
  display: flex;
}
.bnt-container {
  padding: 10px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  background-color: $main-color;
  color: white;
  cursor: pointer;
  width: 20%;
  transition: background-color 0.3s ease, transform 0.3s ease;
  &:hover {
    color: $soft-color;
    background-color: rgba(128, 0, 0, 0.35);
    transform: scale(0.95);
  }
}
.count-container {
  display: flex;
  justify-content: flex-end;
}
.count-announcement {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 25%;
  padding: 10px 15px;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  color: maroon;

  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  border-bottom: 1px solid rgba(0, 0, 0, 0.24);
  border-right: 1px solid rgba(0, 0, 0, 0.24);
  .dataCount {
    padding-bottom: 12px;
    &:first-child {
      font-weight: 900;
      font-size: 70px;
    }
    &:last-child {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 12px;
      text-align: center;
    }
  }
}

.btn-action-container {
  display: flex;
  gap: 10px;

  align-items: center;
  justify-content: center;
  button {
    cursor: pointer;

    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    &:hover {
      transform: scale(1.05);

    }
  }
  .view-btn {
    background-color: #007bff;
  }
  .hide-btn {
    background-color: red;
    color: white;
  }
  .unhide-btn{
    background-color: green;
    color: white;
  }
  
}

.announce-form {
  background-color: rgb(253, 253, 253);
  border-radius: 12px;
  width: 100%;

  .announce-container {
    padding: 12px;

    border-radius: 0px 0px 12px 12px;
  }

  .form-group-announce {
    width: 100%;
    position: relative;
  }
  .form-group-announce input {
    color: maroon;
    font-family: "Arial", sans-serif;
    width: 100%;
    font-size: 12px;
    padding: 12px;
    border-radius: 8px;
    background-color: transparent;
   
  }

  input::placeholder {
    font-weight: bold;
 
    color: maroon;
    text-transform: uppercase;
  }
  textarea::placeholder {
 font-family: sans-serif;
    color: rgba(128, 0, 0, 0.318);
    text-transform: uppercase;
  }
  label {
    width: 30%;
    padding: 12px;
    font-size: 12px;
    color: maroon;
    font-weight: bold;
    text-transform: uppercase;
  }
  textarea {
    font-family: "Arial", sans-serif;
   width: 100%;
    min-height: 200px;
    font-size: 12px;
    color: maroon;
    resize: none;
    padding: 12px;
    background-color: white;
    border-radius: 8px;
    border: 0.5px solid rgba(14, 14, 14, 0.178);
  }
  .time {
    display: flex;
    align-items: center;
  }

  textarea:focus {
    outline: none;
  }
}

.modal-header {
  display: flex;
  justify-content: flex-end;

  padding: 12px 0;
  h2 {
    font-size: 24px;
    color: maroon;
  }
  .close-btn {
    background-color: transparent;
    border: none;
    font-size: 22px;
    cursor: pointer;
    padding: 2px;
    width: 30px;
    height: 30px;
    transition: background-color 0.3s ease, color 0.3s ease;
    &:hover {
      border-radius: 10px;
      background-color: rgba(128, 128, 128, 0.226);
    }
  }
}
.modal-body {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}
.info-item {
  display: flex;
  flex-direction: column;

  h3 {
    font-size: 16px;
    text-transform: uppercase;
    color: maroon;
    font-weight: bold;
  }
  p {
    font-size: calc(100% - 2.5px);
  }
 

}
.announceTitle {
  font-size: 18px;
  font-weight: bold;
  background-color: maroon;
  color: white;
  padding: 8px;
  display: flex;
  justify-content: center;
}
.btnHideAndUnhide {
  display: flex;
 
  justify-content: flex-end;
  .linksHide {
    cursor: pointer;
    
    border: none;
    background-color: transparent;
    position: relative; /* Add this for positioning the underline */
   

    &:hover {
      /* Add an underline that animates from start to end */
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px; /* Adjust the height of the underline */
        background-color: maroon; /* Match the color of the text */
        animation: underline 0.5s ease-in-out forwards;
      }
    }
  }

  @keyframes underline {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
}
.modalContainer {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  padding: 42px;
  color: maroon;
}
.modals{
  position: fixed;
  top: 0;
 
  width: 100%;
  background-color: white;
 display: flex;
 justify-content: center;
  color: maroon;
}
.form-container-announce {
  width: 60%;
  background-color: #f9f9f9; /* Light background color */
  border-radius: 10px; /* Rounded corners for a smoother look */
  box-shadow: 18px 15px 20px 20px rgba(0, 0, 0, 0.1);
}
