.error-container {
 
    display: flex;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
    padding-top: 20px;
  }
  
  .error-message {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  
    z-index: 9999;
    background-color: #ff4d4f;
    color: white;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .error-icon {
    width: 50px;
    height: 54px;
    stroke: white;
  }
  